﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <a class="btn btn-primary" id="ExportExcel" onclick="exportedExcel()">Export To Excel</a>
                        <a class="btn btn-primary" id="ExportPdf" onclick="exportedPdf()">Export To Pdf</a>
                        <h2>Manage <b>Employees</b></h2>
                    </div>
                    <div class="col-sm-6">
                        <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Employee</span></a>
                        <a id="searchBtn"  class="btn btn-primary">Search<input id="searchData" style="color:crimson" type="text" required></a>
                        
                        @*<a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a>*@
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>

                            <span type="text" id="SeNumber">
                                No.
                            </span>
                        </th>
                        <th>
                            Name<span id="nameDec" onclick="sortCustumerslist('name,Dec')" style="cursor: pointer;color:green" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span id="nameAsc" onclick="sortCustumerslist('name,Asc')" style="cursor: pointer;color:lawngreen" class="glyphicon glyphicon-triangle-top"></span>
                        </th>
                        <th>
                            ContactTitle<span id="contactTitleDec" onclick="sortCustumerslist('contactTitle,Dec')" style="cursor: pointer;color:green" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span id="contactTitleAsc" style="cursor: pointer;color:lawngreen" onclick="sortCustumerslist('contactTitle,Asc')" class="glyphicon glyphicon-triangle-top"></span>
                        </th>
                        <th>
                            Address<span id="addressDec" style="cursor: pointer;color:green" onclick="sortCustumerslist('Address,Dec')" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span id="addressAsc" style="cursor: pointer;color:lawngreen" onclick="sortCustumerslist('Address,Asc')" class="glyphicon glyphicon-triangle-top"></span>
                          
                        </th>
                        <th>
                            City<span id="cityDec" style="cursor: pointer;color:green" onclick="sortCustumerslist('City,Dec')" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span id="cityAsc" style="cursor: pointer;color:lawngreen" onclick="sortCustumerslist('City,Asc')" class="glyphicon glyphicon-triangle-top"></span>
                        </th>
                        <th>
                            Region<span id="regionDec" onclick="sortCustumerslist('Region,Dec')" style="cursor: pointer;color:green" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span id="regionAsc" style="cursor: pointer;color:lawngreen" onclick="sortCustumerslist('Region,Asc')" class="glyphicon glyphicon-triangle-top"></span>
                        </th>
                        <th>
                            Country<span id="countryDec" onclick="sortCustumerslist('Country,Dec')" style="cursor: pointer;color:green" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span id="countryAsc" style="cursor: pointer;color:lawngreen" onclick="sortCustumerslist('Country,Asc')" class="glyphicon glyphicon-triangle-top"></span>
                        </th>
                        <th>
                            Phone<span id="phoneDec" style="cursor: pointer;color:green" onclick="sortCustumerslist('Phone,Dec')" class="glyphicon glyphicon-triangle-bottom"></span>
                            <span id="phoneAsc" style="cursor: pointer;color:lawngreen" onclick="sortCustumerslist('Phone,Asc')" class="glyphicon glyphicon-triangle-top"></span>
                        </th>
                    </tr>
                </thead>
                <tbody id="tableData">
                    @*<tr>
                        <td>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                <label for="checkbox1"></label>
                            </span>
                        </td>
                        <td>Thomas Hardy</td>
                        <td>thomashardy@mail.com</td>
                        <td>89 Chiaroscuro Rd, Portland, USA</td>
                        <td>(171) 555-2222</td>
                        <td>
                            <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>
                    </tr>*@
                   
                </tbody>
            </table>
            <div class="clearfix">
                <div class="hint-text"></div>
                <ul class="pagination">
                    <li class="page-item" onclick="myFunction()" id="previous"><a href="#">Previous</a></li>
                    <li class="page-item" onclick="getCustumersList(1)" id="1"><a href="#" class="page-link">1</a></li>
                    <li class="page-item" onclick="getCustumersList(2)" id="2"><a href="#" class="page-link">2</a></li>
                    <li class="page-item" onclick="getCustumersList(3)" id="3"><a href="#" class="page-link">3</a></li>
                    <li class="page-item" onclick="getCustumersList(4)" id="4"><a href="#" class="page-link">4</a></li>
                    <li class="page-item" onclick="getCustumersList(5)" id="5"><a href="#" class="page-link">5</a></li>
                    <li class="page-item" onclick="myFunction()" id="next"><a href="#" class="page-link">Next</a></li>
                </ul>



            </div>
        </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="addEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h4 class="modal-title">Add Employee</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Name</label>
                            <input id="contactName" type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Contact Title</label>
                            <input id="contactTitle" type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <textarea id="address" class="form-control" required></textarea>
                        </div>

                        <div class="form-group">
                            <label>City</label>
                            <input type="text" id="city" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Region</label>
                            <input type="text" id="region" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Country</label>
                            <input type="text" id="country" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="number" id="phone" class="form-control" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="button" class="btn btn-success"  id="saveCuDetails" onclick="saveCustumerDetails()" value="Add">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="editEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Employee</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Name</label>
                            <input id="upcontactName" type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Contact Title</label>
                            <input id="upcontactTitle" type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <textarea id="upaddress" class="form-control" required></textarea>
                        </div>

                        <div class="form-group">
                            <label>City</label>
                            <input type="text" id="upcity" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Region</label>
                            <input type="text" id="upregion" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Country</label>
                            <input type="text" id="upcountry" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" id="upphone" class="form-control" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="button" class="btn btn-info" id="updateDet" onclick="UpdateDetails()" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Delete Modal HTML -->
    <div id="deleteEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Employee</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete these Records?</p>
                        <p class="text-warning"><small>This action cannot be undone.</small></p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="button" id="delDet" class="btn btn-danger" value="Delete">
                    </div>
                </form>
            </div>
        </div>
    </div>


@*<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        Learn how to build ASP.NET apps that can run anywhere.
                        <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        There are powerful new features in Visual Studio for building modern web apps.
                        <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="~/images/banner3.svg" alt="Microsoft Azure" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                        <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                            Learn More
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h2>Application uses</h2>
            <ul>
                <li>Sample pages using ASP.NET Core MVC</li>
                <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>How to</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Overview</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Run &amp; Deploy</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
            </ul>
        </div>
    </div>*@
