﻿
@{
    ViewData["Title"] = "SignalR";
}

<h2>SignalR</h2>

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            &nbsp;
            @*<div class="form-group label-floating is-empty">*@
            <div class="form-group  is-empty" style="margin-top:0px; padding:0px 0px 0px 0px;">

                <div class="input-group col-lg-3">
                    <label class="" style="top:-30px;left:23px">ConnectionId</label>
                    <select name="ConnectionName" style="width: 100%" id="ConnectionId" class="form-control " data-rule-required="true" aria-describedby="delivery-error" aria-required="true"></select>
                </div>
                @*</div>*@
            </div>
            </div>
            <div class="form-group  is-empty" style="margin-top:0px; padding:0px 0px 0px 0px;">

                <div class="input-group">
                    <span class="input-group"><i></i></span>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <label for="userInput" class="control-label">UserName</label>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-10 col-xs-10">
                        <input type="text" id="userInput" readonly />

                    </div>

                </div>
            </div>
            <div class="form-group  is-empty" style="margin-top:0px; padding:0px 0px 0px 0px;">

                <div class="input-group">
                    <span class="input-group"><i></i></span>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <label for="messageInput" class="control-label">Message</label>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-10 col-xs-10">
                        <input type="text" id="messageInput" />

                    </div>

                </div>
            </div>
            <div class="form-group  is-empty" style="margin-top:0px; padding:0px 0px 0px 0px;">

                <div class="input-group">
                    <span class="input-group"><i></i></span>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-10 col-xs-10">
                        <input type="button" id="sendButton" value="Send Message" />

                    </div>

                </div>
            </div>
            @*<div class="col-6">
            User..........<input type="text" id="userInput" />
            <br />
            Message...<input type="text" id="messageInput" />
            <input type="button" id="sendButton" value="Send Message" />
        </div>*@
        </div>
            <div class="row">
                <div class="col-12">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-6">&nbsp;</div>
                <div class="col-6">
                    <ul id="messagesList"></ul>
                </div>
            </div>
        </div>
@*<environment include="Development">*@
    <script>
            var RootUrl = '@Url.Content("~")';
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/jquery.signalR-2.3.0.min.js"></script>
    <script src="~/js/Script/SignalR.js"></script>
    <script src="~/lib/hubs.js"></script>
    <script src="~/js/WhatsApp.js"></script>

    <script>

        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/chathub")
            .build();
        connection.start().then(function () {
            console.log("connected");

            connection.invoke('getConnectionId')
                .then(function (connectionId) {
                    sessionStorage.setItem('conectionId', connectionId);
                    // Send the connectionId to controller

                }).catch(err => console.error(err.toString()));

        });
        debugger;
        var LocalStorageUser = JSON.parse(localStorage.getItem('userCredentials')) || [];
        var User = JSON.parse(localStorage.getItem('userId')) || [];
        var Receiver = User.userId;
        $('#userInput').val(LocalStorageUser.username);
        //chatProxy.client.receiveMessage = function (msgFrom, msg, senderid) {
        connection.on("ReceiveMessage", (Receiver, message, id) => {
            debugger;
            const encodedMsg = Receiver + " says " + message;
            const li = document.createElement("li");
            li.textContent = encodedMsg;
            document.getElementById("messagesList").appendChild(li);
        });

        //document.getElementById("sendButton").addEventListener("click", event => {
        //    const user = document.getElementById("userInput").value;
        //    const message = document.getElementById("messageInput").value;
        //    connection.invoke("SendMessage", user, message).catch(err => console.error(err));
        //    event.preventDefault();
        //});

        document.getElementById("sendButton").addEventListener("click", event => {
            debugger;

            const user = document.getElementById("userInput").value;
            const userId = JSON.parse(localStorage.getItem('userId')) || [];
            const senderId = $('#ConnectionId').val();
            var connectionId = sessionStorage.getItem('conectionId');

            var GroupName = userId.userId + senderId;

            connection.invoke("Get_Connect", user, userId.userId, connectionId, GroupName).catch(err => console.error(err));

            var e = document.getElementById("ConnectionId");
            var strUser = e.options[e.selectedIndex].value;
            var LocalStorageUser = JSON.parse(localStorage.getItem('userCredentials')) || [];
            // const user = userId;
            $('#userInput').val(LocalStorageUser.username);


            const message = document.getElementById("messageInput").value;

            connection.invoke("SendPrivateMessage", user, userId.userId, message, senderId, connectionId).catch(err => console.error(err));
            // connection.invoke("BroadCastMessage", user, message, senderId, GroupName).catch(err => console.error(err));

            event.preventDefault();
        });
        //        //connection.start().then(function () {
        //        //    console.log("connected");

        //        //    connection.invoke('getConnectionId')
        //        //        .then(function (connectionId) {
        //        //            sessionStorage.setItem('conectionId', connectionId);
        //        //            // Send the connectionId to controller
        //        //        }).catch(err => console.error(err.toString()));;


        //        //});

        //        //$("#sendButton").click(function () {
        //        //    var connectionId = sessionStorage.getItem('conectionId');
        //        //    connection.invoke("Send", connectionId);
        //        //});

        //        //connection.on("ReceiveMessage", function (message) {
        //        //    console.log(message);
        //        //});

        //       // connection.start().catch(err => console.error(err));

    </script>


@*</environment>*@
    @*<script src="~/lib/signalr/signalr.js"></script>*@
