﻿
@{
    ViewData["Title"] = "SignalRWhatsApp";
}




<html lang="it">
<head>
    <meta name="google" content="notranslate">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link href="~/css/jquery.lsxemojipicker.css" rel="stylesheet" />
    <link href="~/css/Code/WhatsApp.css" rel="stylesheet" />
   
</head>
<body style="font-family: 'PT Sans', sans-serif;">



    @*<button style="margin-top: 300px;margin-left: 250px;" class="picker">Click me!</button>*@



    <div class="container app" style="padding-top:50px">

        <div class="row app-one">
            <div class="col-sm-4 side">
                <div class="side-one">
                    <!-- Heading -->
                    <div class="row heading">
                        <div class="col-sm-3 col-xs-2 heading-avatar">
                            <div class="heading-avatar-icon">
                                <img src="~/images/download.jpg" />
                            </div>
                        </div>
                        <div class="col-sm-5 col-xs-3" id="displayUserId">

                            <span class="heading-online">Online</span>
                        </div>
                        <div class="col-sm-1 col-xs-1  heading-dot  pull-right">
                            <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-2 col-xs-1 heading-compose  pull-right">
                            <i class="fa fa-comments fa-2x  pull-right" aria-hidden="true"></i>
                        </div>
                    </div>
                    <!-- Heading End -->
                    <!-- SearchBox -->
                    <div class="row searchBox">
                        <div class="col-sm-12 searchBox-inner">
                            <div class="form-group has-feedback">
                                <input id="searchText" type="text" class="form-control" name="searchText" placeholder="Search">
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                    <!-- Search Box End -->
                    <!-- sideBar -->
                    <div class="row sideBar" id="userList" style="background-color:azure">

                    </div>
                    <!-- Sidebar End -->
                </div>

                <!-- Sidebar End -->
            </div>

            <!-- New Message Sidebar End -->
            <!-- Conversation Start -->
            <div class="col-sm-8 conversation">
                <!-- Heading -->
                <div class="row heading">
                    <div class="col-sm-2 col-md-2 col-xs-3 heading-avatar">
                        <div class="heading-avatar-icon">
                            <img src="~/images/download.jpg">
                        </div>
                    </div>
                    <div class="col-sm-8 col-xs-7 heading-name" id="displaysenderId">

                        <span class="heading-online">Online</span>
                    </div>

                    @*<div class="col-sm-1 col-xs-1  heading-dot pull-right">
                            <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
                        </div>*@
                    <span id="action_menu_btn" class="col-sm-1 col-xs-1  heading-dot pull-right"><i class="fa fa-ellipsis-v fa-2x  pull-right"></i></span>
                    <div class="action_menu">
                        <ul>
                            <li><i class="fa fa-user-circle"></i> View profile</li>
                            <li><i class="fa fa-users"></i> Add to close friends</li>
                            <li><i class="fa fa-plus"></i> Add to group</li>
                            <li><i class="fa fa-ban"></i> Block</li>
                        </ul>
                    </div>
                </div>
                <!-- Heading End -->
                <!-- Message Box -->
                <div class="row message" id="conversation" style="background-color:#ffeecc">

                </div>
                <!-- Message Box End -->
                <!-- Reply Box -->
                <div class="row reply">
                    @*<button class="picker">Click me!</button>*@

                    <div class="col-sm-1 col-xs-1 picker" id="emojiPicker">
                        <i style="cursor:pointer;" class="fa fa-smile-o fa-2x" id="emoji"></i>
                    </div>
                    <div class="col-sm-8 col-xs-8 ">
                        @*<textarea class="form-control" rows="1" id="message">&#x1f622</textarea>*@
                        <textarea class="form-control" rows="1" id="message"></textarea>
                    </div>
                    @*<div class="element col-sm-1 col-xs-1 ">
                    <i class="fa fa-paperclip fa-2x" aria-hidden="true">


            <input style="cursor:pointer;" title=" " type="file" onchange="uploadFile();" onmouseover="this.value=null;" onclick="this.value=null;" id="myfile" />
        </i>

                </div>*@
                    @*<form class="md-form">
        <div class="file-field col-sm-1 col-xs-1">
            <a class="btn-floating peach-gradient mt-0 float-left">
                <i class="fas fa-paperclip" aria-hidden="true"></i>
                <input style="cursor:pointer;" title=" " type="file" onchange="uploadFile();" onmouseover="this.value=null;" onclick="this.value=null;" id="myfile" />
            </a>

        </div>
        </form>*@
                    <div class="element col-sm-1 col-xs-1">
                        <i class="fa fa-paperclip fa-2x" aria-hidden="true"></i><span class="name"></span>
                        <input style="cursor:pointer;" title=" " type="file"  onmouseover="this.value=null;"  id="myfile" />

                    </div>
                    <div class="col-sm-1 col-xs-1 ">
                        <i style="cursor:pointer;" class="fa fa-microphone fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-1 col-xs-1 ">
                        <i style="cursor:pointer;" class="fa fa-send fa-2x" id="sendMessage" aria-hidden="true"></i>
                    </div>
                </div>
                <!-- Reply Box End -->
            </div>
            <!-- Conversation End -->
        </div>
        <!-- App One End -->
    </div>
    <script>
            var RootUrl = '@Url.Content("~")';
    </script>


    <script src="~/js/jquery-3.3.1.min.js"></script>
    @*<script src="//raw.github.com/botmonster/jquery-bootpag/master/lib/jquery.bootpag.min.js"></script>*@

   
    <script src="~/js/sweetalert2@9.js"></script>
    <script src="~/js/jquery.bootpag.min.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/jquery.signalR-2.3.0.min.js"></script>
    <script src="~/js/Script/SignalR.js"></script>
    <script src="~/lib/hubs.js"></script>
    <script src="~/js/jquery.lsxemojipicker.js"></script>
    <script src="~/js/twemoji.min.js"></script>
    @*<script src="~/js/inputEmoji.js"></script>*@
    <script src="~/js/WhatsApp.js"></script>



    <script>
        var User = JSON.parse(localStorage.getItem('userId')) || [];

        const connection = new signalR.HubConnectionBuilder()
            .withUrl(RootUrl+"/chathub")
            .build();
        connection.start().then(function () {
            console.log("connected");

            connection.invoke('getConnectionId', User.userId)
                .then(function (connectionId) {
                    sessionStorage.setItem('conectionId', connectionId);
                    // Send the connectionId to controller

                }).catch(err => console.error(err.toString()));

        });
        var OnlineUsers;
        connection.on("ReceiveConnectionIds", (users) => {
            OnlineUsers = users;
        });
        var LocalStorageUser = JSON.parse(localStorage.getItem('userCredentials')) || [];
        //var Receiver = User.userId;
        $('#userInput').val(LocalStorageUser.username);
        //chatProxy.client.receiveMessage = function (msgFrom, msg, senderid) {
        connection.on("ReceiveMessage", (Receiver, message, userid, date) => {
            var User = JSON.parse(localStorage.getItem('userId')) || [];
            //if (userid != User.userId ) {
            //    getusers();

            //}
            

            var Date = date;
            var D;
            var Time;
            Dat = Date.split("T");
            D = Dat[0].split("-");
            Time = Dat[1].split(".");
            if (userid == User.userId) {
                //haveSeen(userid,Receiver);
                html += '<div class="row message-body">';
                html += '<div class="col-sm-12 message-main-sender">';
                html += '<div class="sender">';
                html += '<div class="message-text">';
                html += message;
                html += '</div>';
                html += '<span class="message-time pull-right">';
                html += '<span style="" class="today small">' + D[2] + "-" + D[1] + "-" + D[0] + "  " + Time[0] + '</span>';;
                html += '</span>';
                html += '</div>';
                html += '</div>';
                html += '</div>';
            } else {
                //haveSeen(Receiver, userid);
                html += '<div class="row message-body">';
                html += '<div class="col-sm-12 message-main-receiver">';
                html += '<div class="receiver">';
                html += '<div class="message-text">';
                html += message;
                html += '</div>';
                html += '<span class="message-time pull-right">';
                html += '<span style="" class="today small">' + D[2] + "-" + D[1] + "-" + D[0] + "  " + Time[0] + '</span>';;
                html += '</span>';
                html += '</div>';
                html += '</div>';
                html += '</div>';
            }
            $("#conversation").empty().append(html);
            $('#conversation').animate({
                scrollTop: $('#conversation')[0].scrollHeight
            }, 2000);
        });

        connection.on("ReceivefileMessage", (Receiver, filename, filetype, filepath, date, userId) => {
            var User = JSON.parse(localStorage.getItem('userId')) || [];
            getusers();

            var Date = date;
            var D;
            var Time;
            Dat = Date.split("T");
            D = Dat[0].split("-");
            Time = Dat[1].split(".");
            if (userId == User.userId) {

                if (filetype == 'image/gif' || filetype == 'image/jpeg' || filetype == 'image/jpg' || filetype == 'image/png') {
                    html += '<div class="row message-body">';
                    html += '<div class="col-sm-12 message-main-sender">';
                    html += '<div class="sender">';
                    html += '<div class="message-text">';
                    html += '<img src="' + "./FileUploads" + '/' + filename + '" style="cursor: pointer;float:left!important;width:75px;height:80px;padding-right:0px !important;padding-left:0px !important"  style="float:right!important" class="chat-image col-lg-6" id="' + filepath  + '$' + filename + '$' + filetype + '" onclick="downloadfile(this)" alt="" >';
                    html += '</div>';
                    html += '<span class="message-time pull-right">';
                    html += '<span style="" class="today small">' + D[2] + "-" + D[1] + "-" + D[0] + "  " + Time[0] + '</span>';
                    html += '</span>';
                    html += '</div>';
                    html += '</div>';
                    html += '</div>';
                }
                //else if (filetype == 'application/octet-stream') {
                //}
                else if (filetype == 'application/zip' || filetype == 'application/x-zip-compressed') {
                    html += '<div class="row message-body">';
                    html += '<div class="col-sm-12 message-main-sender">';
                    html += '<div class="sender">';
                    html += '<div class="message-text">';
                    html += '<img src="' + "./images/zip.jpg" + '" style="cursor: pointer;float:left!important;width:75px;height:80px;padding-right:0px !important;padding-left:0px !important"  style="float:right!important" class="chat-image col-lg-6" id="' + + filepath + '$' + filename + '$' + filetype + '" onclick="downloadfile(this)" alt="" >';
                    html += '</div>';
                    html += '<span class="message-time pull-right">';
                    html += '<span style="" class="today small">' + D[2] + "-" + D[1] + "-" + D[0] + "  " + Time[0] + '</span>';
                    html += '</span>';
                    html += '</div>';
                    html += '</div>';
                    html += '</div>';
                }
                //else if (filetype == 'application/x-msdownload') {
                //}
                else if (filetype == 'application/pdf') {
                    html += '<div class="row message-body">';
                    html += '<div class="col-sm-12 message-main-sender">';
                    html += '<div class="sender">';
                    html += '<div class="message-text">';
                    html += '<img src="' + "./images/pdf.png" + '" style="cursor: pointer;float:left!important;width:75px;height:80px;padding-right:0px !important;padding-left:0px !important"  style="float:right!important" class="chat-image col-lg-6" id="' + filepath + '$' + filename + '$' + filetype + '" onclick="downloadfile(this)" alt="" >';
                    html += '</div>';
                    html += '<span class="message-time pull-right">';
                    html += '<span style="" class="today small">' + D[2] + "-" + D[1] + "-" + D[0] + "  " + Time[0] + '</span>';
                    html += '</span>';
                    html += '</div>';
                    html += '</div>';
                    html += '</div>';
                }
                else if (filetype == 'text/plain') {
                    html += '<div class="row message-body">';
                    html += '<div class="col-sm-12 message-main-sender">';
                    html += '<div class="sender">';
                    html += '<div class="message-text">';
                    html += '<img src="' + "./images/text.jpg" + '" style="cursor: pointer;float:left!important;width:75px;height:80px;padding-right:0px !important;padding-left:0px !important"  style="float:right!important" class="chat-image col-lg-6" id="' + filepath + '$' + filename + '$' + filetype + '" onclick="downloadfile(this)" alt="" >';
                    html += '</div>';
                    html += '<span class="message-time pull-right">';
                    html += '<span style="" class="today small">' + D[2] + "-" + D[1] + "-" + D[0] + "  " + Time[0] + '</span>';
                    html += '</span>';
                    html += '</div>';
                    html += '</div>';
                    html += '</div>';
                }
                else if (filetype == 'spreadsheetml.sheet' || filetype == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet') {
                    html += '<div class="row message-body">';
                    html += '<div class="col-sm-12 message-main-sender">';
                    html += '<div class="sender">';
                    html += '<div class="message-text">';
                    html += '<img src="'  + "./images/spreadsheet.png" + '" style="cursor: pointer;float:left!important;width:75px;height:80px;padding-right:0px !important;padding-left:0px !important"  style="float:right!important" class="chat-image col-lg-6" id="'  + filepath  + '$' + filename + '$' + filetype + '" onclick="downloadfile(this)" alt="" >';
                    html += '</div>';
                    html += '<span class="message-time pull-right">';
                    html += '<span style="" class="today small">' + D[2] + "-" + D[1] + "-" + D[0] + "  " + Time[0] + '</span>';
                    html += '</span>';
                    html += '</div>';
                    html += '</div>';
                    html += '</div>';
                }
                else if (filetype == 'application/msword' || filetype == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document') {
                    html += '<div class="row message-body">';
                    html += '<div class="col-sm-12 message-main-sender">';
                    html += '<div class="sender">';
                    html += '<div class="message-text">';
                    html += '<img src="' + "./images/msword.png" + '" style="cursor: pointer;float:left!important;width:75px;height:80px;padding-right:0px !important;padding-left:0px !important"  style="float:right!important" class="chat-image col-lg-6" id="' + filepath + '$' + filename + '$' + filetype + '" onclick="downloadfile(this)" alt="" >';
                    html += '</div>';
                    html += '<span class="message-time pull-right">';
                    html += '<span style="" class="today small">' + D[2] + "-" + D[1] + "-" + D[0] + "  " + Time[0] + '</span>';
                    html += '</span>';
                    html += '</div>';
                    html += '</div>';
                    html += '</div>';
                }
                else if (filetype == 'application/vnd.ms-excel' || filetype == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet') {
                    html += '<div class="row message-body">';
                    html += '<div class="col-sm-12 message-main-sender">';
                    html += '<div class="sender">';
                    html += '<div class="message-text">';
                    html += '<img src="' + "./images/excel.png" + '" style="cursor: pointer;float:left!important;width:75px;height:80px;padding-right:0px !important;padding-left:0px !important"  style="float:right!important" class="chat-image col-lg-6" id="' + filepath + '$' + filename + '$' + filetype + '" onclick="downloadfile(this)" alt="" >';
                    html += '</div>';
                    html += '<span class="message-time pull-right">';
                    html += '<span style="" class="today small">' + D[2] + "-" + D[1] + "-" + D[0] + "  " + Time[0] + '</span>';
                    html += '</span>';
                    html += '</div>';
                    html += '</div>';
                    html += '</div>';
                }
            } else {
                if (filetype == 'image/gif' || filetype == 'image/jpeg' || filetype == 'image/jpg' || filetype == 'image/png') {
                    html += '<div class="row message-body">';
                    html += '<div class="col-sm-12 message-main-receiver">';
                    html += '<div class="receiver">';
                    html += '<div class="message-text">';
                    html += '<img src="' + "./FileUploads" + '/' + filename + '" style="cursor: pointer;float:left!important;width:75px;height:80px;padding-right:0px !important;padding-left:0px !important"  style="float:right!important" class="chat-image col-lg-6" id="' + filepath + '$' + filename + '$' + filetype + '" onclick="downloadfile(this)" alt="" >';
                    html += '</div>';
                    html += '<span class="message-time pull-right">';
                    html += '<span style="" class="today small">' + D[2] + "-" + D[1] + "-" + D[0] + "  " + Time[0] + '</span>';
                    html += '</span>';
                    html += '</div>';
                    html += '</div>';
                    html += '</div>';
                }
                //else if (filetype == 'application/octet-stream') {
                //}
                else if (filetype == 'application/zip' || filetype == 'application/x-zip-compressed') {
                    html += '<div class="row message-body">';
                    html += '<div class="col-sm-12 message-main-receiver">';
                    html += '<div class="receiver">';
                    html += '<div class="message-text">';
                    html += '<img src="' + "./images/zip.jpg" + '" style="cursor: pointer;float:left!important;width:75px;height:80px;padding-right:0px !important;padding-left:0px !important"  style="float:right!important" class="chat-image col-lg-6" id="' + filepath + '$' + filename + '$' + filetype + '" onclick="downloadfile(this)" alt="" >';
                    html += '</div>';
                    html += '<span class="message-time pull-right">';
                    html += '<span style="" class="today small">' + D[2] + "-" + D[1] + "-" + D[0] + "  " + Time[0] + '</span>';
                    html += '</span>';
                    html += '</div>';
                    html += '</div>';
                    html += '</div>';
                }
                //else if (filetype == 'application/x-msdownload') {
                //}
                else if (filetype == 'application/pdf') {
                    html += '<div class="row message-body">';
                    html += '<div class="col-sm-12 message-main-receiver">';
                    html += '<div class="receiver">';
                    html += '<div class="message-text">';
                    html += '<img src="' + "./images/pdf.png" + '" style="cursor: pointer;float:left!important;width:75px;height:80px;padding-right:0px !important;padding-left:0px !important"  style="float:right!important" class="chat-image col-lg-6" id="' + filepath + '$' + filename + '$' + filetype + '" onclick="downloadfile(this)" alt="" >';
                    html += '</div>';
                    html += '<span class="message-time pull-right">';
                    html += '<span style="" class="today small">' + D[2] + "-" + D[1] + "-" + D[0] + "  " + Time[0] + '</span>';
                    html += '</span>';
                    html += '</div>';
                    html += '</div>';
                    html += '</div>';
                }
                else if (filetype == 'text/plain') {
                    html += '<div class="row message-body">';
                    html += '<div class="col-sm-12 message-main-receiver">';
                    html += '<div class="receiver">';
                    html += '<div class="message-text">';
                    html += '<img src="' + "./images/text.jpg" + '" style="cursor: pointer;float:left!important;width:75px;height:80px;padding-right:0px !important;padding-left:0px !important"  style="float:right!important" class="chat-image col-lg-6" id="' + filepath + '$' + filename + '$' + filetype + '" onclick="downloadfile(this)" alt="" >';
                    html += '</div>';
                    html += '<span class="message-time pull-right">';
                    html += '<span style="" class="today small">' + D[2] + "-" + D[1] + "-" + D[0] + "  " + Time[0] + '</span>';
                    html += '</span>';
                    html += '</div>';
                    html += '</div>';
                    html += '</div>';
                }
                else if (filetype == 'spreadsheetml.sheet' || filetype == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet') {
                    html += '<div class="row message-body">';
                    html += '<div class="col-sm-12 message-main-receiver">';
                    html += '<div class="receiver">';
                    html += '<div class="message-text">';
                    html += '<img src="' + "./images/spreadsheet.png" + '" style="cursor: pointer;float:left!important;width:75px;height:80px;padding-right:0px !important;padding-left:0px !important"  style="float:right!important" class="chat-image col-lg-6" id="' + filepath + '$' + filename + '$' + filetype + '" onclick="downloadfile(this)" alt="" >';
                    html += '</div>';
                    html += '<span class="message-time pull-right">';
                    html += '<span style="" class="today small">' + D[2] + "-" + D[1] + "-" + D[0] + "  " + Time[0] + '</span>';
                    html += '</span>';
                    html += '</div>';
                    html += '</div>';
                    html += '</div>';
                }
                else if (filetype == 'application/msword' || filetype == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document') {
                    html += '<div class="row message-body">';
                    html += '<div class="col-sm-12 message-main-receiver">';
                    html += '<div class="receiver">';
                    html += '<div class="message-text">';
                    html += '<img src="' + "./images/msword.png" + '" style="cursor: pointer;float:left!important;width:75px;height:80px;padding-right:0px !important;padding-left:0px !important"  style="float:right!important" class="chat-image col-lg-6" id="' + filepath + '$' + filename + '$' + filetype + '" onclick="downloadfile(this)" alt="" >';
                    html += '</div>';
                    html += '<span class="message-time pull-right">';
                    html += '<span style="" class="today small">' + D[2] + "-" + D[1] + "-" + D[0] + "  " + Time[0] + '</span>';
                    html += '</span>';
                    html += '</div>';
                    html += '</div>';
                    html += '</div>';
                }
                else if (filetype == 'application/vnd.ms-excel' || filetype == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet') {
                    html += '<div class="row message-body">';
                    html += '<div class="col-sm-12 message-main-receiver">';
                    html += '<div class="receiver">';
                    html += '<div class="message-text">';
                    html += '<img src="' + "./images/excel.png" + '" style="cursor: pointer;float:left!important;width:75px;height:80px;padding-right:0px !important;padding-left:0px !important"  style="float:right!important" class="chat-image col-lg-6" id="' + filepath + '$' + filename + '$' + filetype + '" onclick="downloadfile(this)" alt="" >';
                    html += '</div>';
                    html += '<span class="message-time pull-right">';
                    html += '<span style="" class="today small">' + D[2] + "-" + D[1] + "-" + D[0] + "  " + Time[0] + '</span>';
                    html += '</span>';
                    html += '</div>';
                    html += '</div>';
                    html += '</div>';
                }
            }
            $("#conversation").empty().append(html);
            $('#conversation').animate({
                scrollTop: $('#conversation')[0].scrollHeight
            }, 2000);
        });
        var html4 = "";

        $('.picker').lsxEmojiPicker({
            closeOnSelect: false,
            //width: 220,
            //height: 200,
            twemoji: false,
            //twemoji: true,
            onSelect: function (emoji) {
                //console.log(emoji);
                var ms = $('#message').val();
                document.getElementById('message').innerHTML = "";
                var _emoji = document.getElementById('message').innerHTML + emoji.value;

                var res = ms + _emoji;
                $('#message').html(res);
                var html = $('#message').html();
                $('#message').val(html);







                // $('#message').val("test");
                //document.getElementById('message').innerHTML = "";
                //var innerHtml = document.getElementById('message').innerHTML + emoji.value;


                //var InHtml = document.getElementById('message').value;
                //document.getElementById('message').innerHTML = innerHtml + InHtml;
                //document.getElementById('message').innerHTML = "";
                //document.getElementById('message').innerHTML = innerHtml + emoji.value;
                //var s = document.getElementById('message').innerHTML;

                //$('#message').val(s);

                //$('#message').innerHTML = "&#x1f622";
                //$('#message').val(ms + emoji.value);
                //$('#message').val(html4);
                //document.getElementById('message').innerHTML = emoji.value;
                //var MessageSent = document.getElementById('message');
                //var s = ms + emoji.value;
                //var ms = $('#message').val("");
                // $('#message').val('')
                //document.getElementById('message').innerHTML = "";
                //document.getElementById('message').innerHTML = ms
                //$('#message').val('')
                //var s = MessageSent.value + emoji.value;
                // $('#message').html(s);
            }
        })
    </script>
</body>
</html>