﻿
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    @*<environment include="Development">*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/bootstrap4.1.1.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="~/css/Code/ConfirmEmail.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    @*<link href="~/css/Maerialicons.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">*@
    <link href="~/css/bootstrap2.min.css" rel="stylesheet" />

    @*</environment>*@


</head>
<body>
    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    @*<span class="display-1 d-block">404</span>*@
                    <div class="mb-4 lead"><b style="color:white">Email Confirmed</b></div>
                    <a href="~/LoginPage" style="color:white" class="btn btn-link">Click here to login</a>
                </div>
            </div>
        </div>
    </div>

    @*<environment include="Development">*@
    <script>
            var RootUrl = '@Url.Content("~")';
    </script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/Script/ConfirmEmail.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sweetalert2@9.js"></script>
    <script src="~/js/jquery.bootpag2.min.js"></script>
    @*<script src="//raw.github.com/botmonster/jquery-bootpag/master/lib/jquery.bootpag.min.js"></script>*@


    @*</environment>*@

</body>

</html>