﻿
@{
    Layout = null;
}
@*@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager*@


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    @*<environment include="Development">*@
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
    <link href="~/css/bootstrap4.1.1.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="~/css/Code/Login.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    @*<link href="~/css/all.css" rel="stylesheet" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous" />*@
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">*@
    @*</environment>*@


</head>
<body>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="~/images/UserLogin.png" class="brand_logo" alt="Logo">
                    </div>
                </div>
                <div class="d-flex justify-content-center form_container">
                    <form>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" name="username" id="txtLogUserName" placeholder="Username" required="required">
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" name="password" id="txtLogPassword" placeholder="Password" required="required">
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <label class="pull-left checkbox-inline">
                                    <input type="checkbox" id="chkRemember" name="Rem" class="checkbox-inline" value="">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <button id="btnLog" type="button" name="button" class="btn login_btn">Login</button>
                            @*<button id="btnLog" class="btn btn-primary btn-lg btn-block">Sign in</button>*@

                        </div>
                    </form>
                </div>

                <div class="mt-4">
                    <div class="d-flex justify-content-center links">
                        <p class="text-center">Don't have an account? <a href="~/RegisterPage" style="color:crimson">Sign up here!</a></p>
                    </div>
                    <div class="d-flex justify-content-center links">
                        <a href="~/ForgotPasswordPage">Forgot your password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="login-form">
            <div id="form">
                <div class="avatar">
                    <img src="~/images/UserLogin.png" alt="Avatar">
                </div>
                <h2 class="text-center">Member Login</h2>
                <div class="form-group">
                    <input type="text" class="form-control" name="username" id="txtLogUserName" placeholder="Username" required="required">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" id="txtLogPassword" placeholder="Password" required="required">
                </div>
                <div class="form-group">

                    <button  id="btnLog" class="btn btn-primary btn-lg btn-block">Sign in</button>
                </div>
                <div class="clearfix">
                    <label  class="pull-left checkbox-inline">
                        <input type="checkbox" id="chkRemember" name="Rem" class="checkbox-inline" value="">
                        Remember Me
                    </label>
                    <a href="#" class="pull-right" style="color:crimson">Forgot Password?</a>
                </div>
                <div class="form-group">
                    <p class="text-center">Don't have an account? <a href="~/Account/Register" style="color:crimson">Sign up here!</a></p>

                </div>
                </div>
        </div>*@


    @*<environment include="Development">*@
    <script>
            var RootUrl = '@Url.Content("~")';
    </script>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/bootstrap4.1.1.min.js"></script>
    <script src="~/js/jquery3.2.1.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sweetalert2@9.js"></script>
    <script src="~/js/Script/Login.js"></script>


    <script src="~/js/jquery.bootpag.min.js"></script>
</body>


</html>
