﻿
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    @*<environment include="Development">*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    @*<link href="~/css/all.css" rel="stylesheet" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous" />*@
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/Code/Register.css" rel="stylesheet" />
    @*</environment>*@
  

</head>
<body>
    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
                <h3>Welcome</h3>
                <p></p>
                @*<p class="text-center">Don't have an account? <a href="~/Account/Register" style="color:crimson">Sign up here!</a></p>

                    <input type="submit" name="" value="Login" /><br />*@

                <a href="~/LoginPage" style="color:crimson">
                    <input style="text-align:center;text-decoration-color:blue" name="" value="Login" />
                </a><br />
            </div>
            <div class="col-md-9 register-right">
                @*<ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab"  href="#home" role="tab" aria-controls="home" aria-selected="true">Employee</a>
                        </li>

                    </ul>*@
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Register</h3>
                        <div class="row register-form" id="frmSignup">
                            <div class="col-md-6">
                                @*<div class="form-group">
            <input type="text" class="form-control" placeholder="First Name *" value="" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Last Name *" value="" />
        </div>*@
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email *" id="txtemailInp" value="" />
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password *" id="txtpassInp" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Confirm Password *" id="txtConfirmPassword" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="number" minlength="10" maxlength="10" name="txtEmpPhone" id="txtPhoneInp" class="form-control" placeholder="Your Phone *" value="" />
                                </div>
                                <div class="checkbox inline-block ">
                                    <label class="">
                                        <input type="checkbox" id="chkTerms" name="chkTerms" class="checkbox-inline" value="" data-rule-required="true" aria-required="true">

                                        I agree to the <span id="chkTerms">terms of services</span>
                                    </label>
                                </div>
                                @*<div class="form-group">
            <div class="maxl">
                <label class="radio inline">
                    <input type="radio" name="gender" value="male" checked>
                    <span> Male </span>
                </label>
                <label class="radio inline">
                    <input type="radio" name="gender" value="female">
                    <span>Female </span>
                </label>
            </div>
        </div>*@
                            </div>
                            <div class="col-md-6">
                                @*<div class="form-group">
                                        <input type="email" class="form-control" placeholder="Your Email *" value="" />
                                    </div>*@

                                @*<div class="form-group">
                                        <select class="form-control">
                                            <option class="hidden" selected disabled>Please select your Sequrity Question</option>
                                            <option>What is your Birthdate?</option>
                                            <option>What is Your old Phone Number</option>
                                            <option>What is your Pet Name?</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter Your Answer *" value="" />
                                    </div>*@
                                <input type="submit" id="btnRegis" class="btnRegister" value="Register" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    @*<environment include="Development">*@
        <script>
            var RootUrl = '@Url.Content("~")';
        </script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/jquery.validate.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/Script/Register.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <script src="//raw.github.com/botmonster/jquery-bootpag/master/lib/jquery.bootpag.min.js"></script>


    @*</environment>*@
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">


        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

    </environment>
</body>

</html>