﻿
@{
    Layout = null;
}
@*@using Microsoft.AspNetCore.Identity
    @inject SignInManager<IdentityUser> SignInManager
    @inject UserManager<IdentityUser> UserManager*@


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset Password</title>
    @*<environment include="Development">*@
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="~/css/Code/ResetPassword.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    @*<link href="~/css/all.css" rel="stylesheet" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous" />*@
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />

</head>
<body>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    @*<div class="brand_logo_container">
                            <img src="~/images/UserLogin.png" class="brand_logo" alt="Logo">
                        </div>*@
                </div>
                <div class="d-flex justify-content-center form_container">
                    <form>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" name="username" id="txtUserName" placeholder="UserName" required="required" readonly>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" name="password" id="txtNewPassword" placeholder="NewPassword" required="required">
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" name="password" id="txtConfirmPassword" placeholder="ConfirmPassword" required="required">
                        </div>

                        <div class="d-flex justify-content-center mt-3 login_container">
                            <button id="btnsubmit" type="button" name="button" class="btn login_btn">Submit</button>
                            @*<button id="btnLog" class="btn btn-primary btn-lg btn-block">Sign in</button>*@

                        </div>
                    </form>
                </div>

                <div class="mt-4">
                    <div class="d-flex justify-content-center links">
                        <p class="text-center">Click here to Login <a href="~/LoginPage" style="color:crimson">Sign In here!</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    @*<environment include="Development">*@
    <script>
            var RootUrl = '@Url.Content("~")';
    </script>
   
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/bootstrap4.1.1.min.js"></script>
    <script src="~/js/jquery3.2.1.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sweetalert2@9.js"></script>
    <script src="~/js/Script/ResetPassword.js"></script>

  
</body>


</html>
