﻿body {
    font-family: 'Lora';
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background: #6b6ee9 !important
    /*background-image: url('../../images/approve-line-icon-halftone-pattern-260nw-1549025396.jpg');*/
}


.page-wrap {
    min-height: 100vh;
}
