﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MvcCoreSamplePro</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/Code/SampleDemo.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    @*<link href="~/css/Maerialicons.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">*@
    <link href="~/css/bootstrap2.min.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header col-lg-3">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">MvcCoreSamplePro</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    <li><a href="~/SignalRChat" style="color:white">SignalR</a></li>
                    <li><a href="~/SignalRWhatsApp" style="color:white">WhatsApp</a></li>
                    <li>
                        <a data-toggle="tooltip" title="LogOut! " data-placement="bottom" href="javascript:void(0)" id="Logout" style="color:white" onclick="LogoutPage()">Logout </a>
                    </li>
                    <li>
                        @*<li><a asp-area="" asp-controller="Home" asp-action="SignalR">SignalR</a></li>*@
                        @*<li>
                                <partial name="_LoginPartial" />
                            </li>*@
                </ul>

            </div>
        </div>
    </nav>
    <layout type="log4net.Layout.PatternLayout">
        <conversionpattern value="%level  %message  %date">
        </conversionpattern>
    </layout>
    @*<partial name="_CookieConsentPartial" />*@

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - MvcCoreSamplePro</p>
        </footer>
    </div>

    @*<environment include="Development">*@
    <script>
            var RootUrl = '@Url.Content("~")';
    </script>
    <script src="~/js/jquery-3.3.1.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Script/SampleDemo.js"></script>

    <script src="~/js/Script/Demo2.js"></script>
    <script src="~/js/sweetalert2@9.js"></script>
    <script src="~/js/jquery.bootpag.min.js"></script>
    @*<script src="//raw.github.com/botmonster/jquery-bootpag/master/lib/jquery.bootpag.min.js"></script>*@

    <script>
        function Redirect(jqXHR, textStatus, errorThrown) {
            if (errorThrown == "Unauthorized") {
                var SuccessUrl = RootUrl + "/LoginPage";
                window.location.href = SuccessUrl;
            }
            if (textStatus == "error") {
                var SuccessUrl = RootUrl + "/LoginPage";
                window.location.href = SuccessUrl;
            }
            else {

                Swal.fire(
                    'Error!',
                    errorThrown,
                    'Error'
                )
            }
        }
    </script>
    @*</environment>*@
  

    @*<script>
            var RootUrl = window.location.protocol + "//" + window.location.host;

                     var rooturl = '@url.content("~/")';

        </script>*@

    @RenderSection("Scripts", required: false)
</body>
</html>
