﻿
<environment include="Development">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="~/css/jquery.lsxemojipicker.css" rel="stylesheet" />
    <link href="~/css/Code/WhatsApp.css" rel="stylesheet" />


</environment>

<div class="container app" style="padding-top:50px">

    <div class="row app-one">
        <div class="col-sm-4 side">
            <div class="side-one">
                <!-- Heading -->
                <div class="row heading">
                    <div class="col-sm-3 col-xs-2 heading-avatar">
                        <div class="heading-avatar-icon">
                            <img src="~/images/download.jpg" />
                        </div>
                    </div>
                    <div class="col-sm-5 col-xs-3" id="displayUserId">

                        <span class="heading-online">Online</span>
                    </div>
                    <div class="col-sm-1 col-xs-1  heading-dot  pull-right">
                        <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-2 col-xs-1 heading-compose  pull-right">
                        <i class="fa fa-comments fa-2x  pull-right" aria-hidden="true"></i>
                    </div>
                </div>
                <!-- Heading End -->
                <!-- SearchBox -->
                <div class="row searchBox">
                    <div class="col-sm-12 searchBox-inner">
                        <div class="form-group has-feedback">
                            <input id="searchText" type="text" class="form-control" name="searchText" placeholder="Search">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </div>
                </div>
                <!-- Search Box End -->
                <!-- sideBar -->
                <div class="row sideBar" id="userList" style="background-color:azure">

                </div>
                <!-- Sidebar End -->
            </div>

            <!-- Sidebar End -->
        </div>

        <!-- New Message Sidebar End -->
        <!-- Conversation Start -->
        <div class="col-sm-8 conversation">
            <!-- Heading -->
            <div class="row heading">
                <div class="col-sm-2 col-md-2 col-xs-3 heading-avatar">
                    <div class="heading-avatar-icon">
                        <img src="~/images/download.jpg">
                    </div>
                </div>
                <div class="col-sm-8 col-xs-7 heading-name" id="displaysenderId">

                    <span class="heading-online">Online</span>
                </div>

                @*<div class="col-sm-1 col-xs-1  heading-dot pull-right">
                    <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
                </div>*@
                <span id="action_menu_btn" class="col-sm-1 col-xs-1  heading-dot pull-right"><i class="fa fa-ellipsis-v fa-2x  pull-right"></i></span>
                <div class="action_menu">
                    <ul>
                        <li><i class="fa fa-user-circle"></i> View profile</li>
                        <li><i class="fa fa-users"></i> Add to close friends</li>
                        <li><i class="fa fa-plus"></i> Add to group</li>
                        <li><i class="fa fa-ban"></i> Block</li>
                    </ul>
                </div>
            </div>
            <!-- Heading End -->
            <!-- Message Box -->
            <div class="row message" id="conversation" style="background-color:#ffeecc">

            </div>
            <!-- Message Box End -->
            <!-- Reply Box -->
            <div class="row reply">
                <button class="picker col-sm-1 col-xs-1">Click me!</button>

                @*<div type=bu class="col-sm-1 col-xs-1 picker" id="emojiPicker">
                    <i class="fa fa-smile-o fa-2x"></i>
                </div>*@
                <div class="col-sm-8 col-xs-8 ">
                    <textarea class="form-control" rows="1" id="message"></textarea>
                </div>
                <div class="col-sm-1 col-xs-1 ">
                    <i class="fa fa-paperclip fa-2x" aria-hidden="true"></i>
                </div>
                <div class="col-sm-1 col-xs-1 ">
                    <i class="fa fa-microphone fa-2x" aria-hidden="true"></i>
                </div>
                <div class="col-sm-1 col-xs-1 ">
                    <i class="fa fa-send fa-2x" id="sendMessage" aria-hidden="true"></i>
                </div>
            </div>
            <!-- Reply Box End -->
        </div>
        <!-- Conversation End -->
    </div>
    <!-- App One End -->
</div>

<environment include="Development">
    <script>
            var RootUrl = '@Url.Content("~")';
    </script>

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/jquery.signalR-2.3.0.min.js"></script>
    <script src="~/js/Script/SignalR.js"></script>
    <script src="~/lib/hubs.js"></script>
    @*
    <script src="~/js/jquery.lsxemojipicker.js"></script>
    <script src="~/js/twemoji.min.js"></script>*@
    <script src="~/js/WhatsApp.js"></script>




    <script>

        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/chathub")
            .build();
        connection.start().then(function () {
            console.log("connected");

            connection.invoke('getConnectionId')
                .then(function (connectionId) {
                    sessionStorage.setItem('conectionId', connectionId);
                    // Send the connectionId to controller

                }).catch(err => console.error(err.toString()));

        });
        debugger;
        var LocalStorageUser = JSON.parse(localStorage.getItem('userCredentials')) || [];
        var User = JSON.parse(localStorage.getItem('userId')) || [];
        var Receiver = User.userId;
        $('#userInput').val(LocalStorageUser.username);
        //chatProxy.client.receiveMessage = function (msgFrom, msg, senderid) {
        connection.on("ReceiveMessage", (Receiver, message, userid) => {
            debugger;
            var User = JSON.parse(localStorage.getItem('userId')) || [];
            if (userid == User.userId) {
                //var Date = data[i].date.split("T");
                //var D = Date[0].split("-");
                //var Time = Date[1].split(".");
                html += '<div class="row message-body">';
                html += '<div class="col-sm-12 message-main-sender">';
                html += '<div class="sender">';
                html += '<div class="message-text">';
                html += message;
                html += '</div>';
                html += '<span class="message-time pull-right">';
                //  html += '<span style="" class="today small">' + D[2] + "-" + D[1] + "-" + D[0] + "  " + Time[0] + '</span>';
                html += '</span>';
                html += '</div>';
                html += '</div>';
                html += '</div>';
            } else {
                html += '<div class="row message-body">';
                html += '<div class="col-sm-12 message-main-receiver">';
                html += '<div class="receiver">';
                html += '<div class="message-text">';
                html += message;
                html += '</div>';
                html += '<span class="message-time pull-right">';
                //  html += '<span style="" class="today small">' + D[2] + "-" + D[1] + "-" + D[0] + "  " + Time[0] + '</span>';;
                html += '</span>';
                html += '</div>';
                html += '</div>';
                html += '</div>';
            }
            $("#conversation").empty().append(html);
            $('#conversation').animate({
                scrollTop: $('#conversation')[0].scrollHeight
            }, 2000);
        });

            //$('.picker').lsxEmojiPicker({
            //    width: 220,
            //    height: 200,
            //    // twemoji: false,
            //    twemoji: true,
            //    onSelect: function (emoji) {
            //        console.log(emoji);
            //        $('#message').val(emoji);
            //    }
            //})

    </script>


</environment>
