body{
    background: #fff;
}
.header{
    color: #fff;    
    /*background: url("lib/images/bg4.png") no-repeat right top;*/
    background-color: #6f5499;
    background-size: cover;
    padding: 15px 0;
}
.header.small{
    padding: 10px 0;
    min-height: 60px;
}
.header h1{
    font-size: 60px;
    line-height: 1;
}
.header p{
    color: #cdbfe3;
    font-size: 22px;
}
.header.small{
    margin-bottom: 0;
}
.navbar{
    border-bottom: none;
    margin: 0;
}
.navbar.navbar-default{
    background: #fff;
}
.content{
    min-height: 400px;
	padding: 20px 0 30px;
	background: #f4f4f4;
}
a{
    color: #333;
}
a:hover{
    text-decoration: none;
}
h3:hover{
    text-decoration: underline;
}
.thumbnail{
    position: relative;
    background: #fff;
    border-radius: 2px;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    margin-bottom: 30px;
}
.thumbnail .img-box{
    height: 180px;
    overflow: hidden;
    /*box-shadow: 0px 0 1px rgba(0,0,0,0.3);*/
    border-bottom: 1px solid #f2f2f2;
    background: url("../images/placeholder.png") no-repeat center;
    background-size: 110% auto;
	text-align: center;
}
.thumbnail .img-box img{
	margin: 0 auto;
}
.thumbnail .caption{
    padding: 0;
    text-align: left;
}
.caption h3{
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}
.caption .overview, .caption .overview a{
    color: #bbbbbb;
    font-size: 12px;
}
.caption .glyphicon{
    position: relative;
    top: 2px;
}
.lead-main{
    padding-bottom: 30px;
}
.lead-main.bottom-ad{
    padding-bottom: 40px;
    padding-top: 15px;
}
.pagination{
    margin-top: 0;
    border-radius: 50px;
    background: #fff;
    padding: 5px;
}
.pagination li a, .pagination li span{
    padding: 0;    
    border-radius: 50px !important;
    border: none;
    margin: 0 3px;
    min-width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
}
.pagination li a, .pagination li a:hover{
    color: #555;
}
.pagination .glyphicon{
    font-size: 12px;
}
.pagination .active a, .pagination .active a:hover{
    background: #6f5499;
}
.not-found{
    font-size: 18px;
}
/* Styles for preview page */
.header.small h1.snippet-name{
    font-size: 23px;
    margin: 8px 0;
}
iframe.preview{
    border: none;
    min-height: 500px;
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
}
.header-inverse{
    background: #fff;
}
.navbar-inverse{
    background: #262626;
    text-align: center;
}
.navbar .btn{
    min-width: 120px;
    margin-left: 10px;
}
.navbar-form{
    display: inline-block;
}
.similar-title{
    text-align: center;        
}
.similar-title h2{
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    font-size: 22px;
    margin: 20px 0 40px;
}
.similar-title h2:after{
    position: absolute;
    margin: 0 auto;
    content: "";
    border-bottom: 4px solid #5cb85c;
    width: 60%;
    bottom: -10px;
    left: 0;
    right: 0;
}
.lead-ad{
    background: #fff;
}
.ad-box{
    height: 90px;
    margin: 8px auto;
	overflow: hidden;
	text-align: center;
}
.bg-white{
    background: #fff !important;
}
.bg-gray{
    background: #f4f4f4 !important;
}
.border-line{
    border-bottom: 1px solid #ddd;
}
.footer{
	padding-top: 20px;
}
.footer-inner{
	padding: 15px 0;
    background: #fff;
    /*box-shadow: 0 0 5px #999999;*/
    border-top: 1px solid #ddd;
}
.footer ul{
    margin: 0;
    padding: 0;
}
.footer ul li{
    padding: 0 0 0 15px;
    margin: 0 0 0 15px;
    border-left: 1px solid #ddd;
}
.footer ul li:first-child{
    border: none;
}
.footer a{
    color: #333;
}
.footer a:hover{
    text-decoration: underline;
}
ul.tags{
    margin-top: 8px;
    margin-bottom: 0;
}
ul.tags em{
    font-style: normal;
    font-size: 13px;
}
ul.tags em .glyphicon{
    position: relative;
    top: 3px;
}
ul.tags a{
    padding: 3px 11px;
    display: inline-block;
    border-radius: 15px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
}
ul.tags a:hover{
    background: #fff;
    color: #6f5499;
}
.btn.view-more{
    border: 1px solid;    
    min-width: 210px;
    border-radius: 2px;
    font-weight:bold;
    margin-bottom: 20px;
    padding: 9px 12px;
    border-color: #6f5499;
    background: transparent;
    color: #6f5499;
}
.btn.view-more:hover{
    border-color: #6f5499;
    background: #6f5499;
    color: #fff;
}
.view-more .glyphicon{
    font-size: 13px;
}
.alert{
    margin: 5px 0 0;
    text-align: center;
}
.tooltip-inner{
    border-radius: 2px;
}
.navbar-form .btn .glyphicon{
	font-size: 13px;
    margin-right: 2px;
}
.navbar-form .btn{
	letter-spacing: 0.6px;
	outline: none !important;
    border-color: inherit !important;
}
.fullscreen, .fullscreen .modal-dialog{
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    z-index: 1100;
    margin: 0;
    background: #fff;
    border-radius: 0;
    border: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
iframe.fullscreen{
    z-index: 1200;
    overflow-y: auto !important;
}
.fullscreen .modal-content{
    background: none;
    box-shadow: none;
    border: none;
}
.close-btn{
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 25px;
    right: 30px;
    z-index: 1300;
    color: #fff;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
}
.close-btn:hover{
    background: rgba(0, 0, 0, 0.2);
}
.adjust {
    max-width: none;
    float: right;
    transform: scale(.75);
    transform-origin: top right;
}
.section-bottom {
    position: relative;
}
.snippet-tags {
    padding-bottom: 28px;
    text-align: center;
    color: #9a9a9a;
	font-size: 13px;
}
.snippet-tags a {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 2px 9px 1px;
    color: #8e8e8e;
    margin: 0 2px;
}
.snippet-tags a:hover {
	color: #6f5499;
	border-color: #6f5499;
}
 .snippet-tags a.selected {
	color: #fff;
	background: #6f5499;	
	border-color: #6f5499;
}
.snippet-tags .glyphicon {
    margin-right: 5px;
    top: 2px;
}
.ad-label {
    color: #aaa;
    letter-spacing: .5px;
    font-size: 10.4px;
    text-transform: uppercase;
    text-align: center;
    line-height: 11px;
}
.mt-10{
    margin-top: 10px !important;
}
.mb-20{
    margin-bottom: 20px !important;
}
.social-widget{width:40px;height:120px;position:fixed;left:0;top:0;bottom:0;margin:auto 0;z-index:99}
.social-widget a{width:40px;height:40px;display:block;background:url(/lib/images/social-icons.png) no-repeat;background-size:100% auto;position:relative;cursor:pointer}
.social-widget a#facebook-share-btn{background-position:0 0}
.social-widget a#twitter-share-btn{background-position:0 -40px}
.social-widget a#google-share-btn{background-position:0 -80px}
.social-widget a#facebook-like-btn{background-position:0 -120px}
#like-container{width:95px;background:url(/lib/images/loading.gif) no-repeat center center #fff;background-size:25px auto;display:none;border:1px solid #ccc;padding:9px 0 0;height:40px;box-sizing:border-box;position:absolute;z-index:100;top:0;left:50px;white-space:pre;text-align:center}
#like-container::before,#like-container::after{width:0;height:0;content:'';border:8px solid transparent;display:inline-block;position:absolute}
#like-container::before{border-right-color:#ccc;left:-16px;top:11px}
#like-container::after{border-right-color:#fff;border-width:6px;left:-12px;top:13px}
@media screen and (max-width: 1180px) {
.social-widget{display:none}
}



